@mixin custom-font($fml, $wght, $sz, $clr, $spcg, $algn) {
	font-family: $fml;
	font-weight: $wght;
	font-size: $sz;
	color: $clr;
	letter-spacing: $spcg;
	text-align: $algn;
}

@mixin changeInHover {
	&:not([disabled]):hover {
		@content;
	}
}

@mixin bg-img($img, $opt-repeat, $opt-position, $opt-size) {
	background-image: $img;
	background-repeat: $opt-repeat;
	background-position: $opt-position;
	background-size: $opt-size;
}