// fonts
$font-text-body: 'Source Sans Pro', sans-serif;
$font-text-special: 'Medula One', cursive;

// colors
$clr-white: #FFF;

$clr-dark-primary: #262626;
$clr-dark: #000;

$clr-red-primary: #C82323;
$clr-red: red;

$clr-green-500: rgb(29,157,116);
$clr-green-400: #5AEC5A;