* {
	box-sizing: border-box!important;
	font-size: 16px!important;
}
a {
	text-decoration: none!important;
}


.btn-dropdown {
	display: none;
}


.page {
	min-height: 100vh;
}


.header__box-top .row-top .col-md-3 button:not(:first-child) {
	margin-left: 0.56rem;
}


.list-links {
	gap: 1.2rem;
}

.link-active {
	background: #F8F8F8;
	
}