/**********
	Classes 
	Gerais
***********/
:root {
	--color-primary: #C82323;
}

.logo-header {
	width: 40%;
}

.btn-dropdown {
	display: none;
}

.text-color-primary {
	color: var(--color-primary);
}

/**********
	Page
***********/
.page {
	min-height: 100vh;
}

.header__box-top .row-top .col-md-3 button:not(:first-child) {
	margin-left: 0.56rem;
}


.list-links {
	gap: 1.2rem;
}

.link-active {
	background: #F8F8F8;	
}




/**********
	Footer
***********/

