@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');


/**********
	Estilos
	Genericos
***********/
:root {
	--color-primary: #C82323;
	--color-dark-500: #262626;
}

body {
	font-family: 'Source Sans Pro', sans-serif!important;
	overflow-x: hidden!important;
}

p {
	word-break: break-word!important;
}


/**********
	Classes 
	Gerais
***********/
.sr-only {
	display: none!important;
}

.logo-header,
.logo-footer {
	width: 199px;
}

.input {
	padding: 0.25rem 0.67rem;
	border-radius: 0.23rem;
	font-weight: 400;
	color: ;
}	
.input::placeholder {
	font-weight: 300;
}

.heading {
	text-align: left;
	letter-spacing: 1pt;
	font-size: 2.6rem!important;
	font-family: 'Medula One', cursive;
	font-weight: 500!important;
	color: #000;
}

.subheading {
	text-align: center;
	letter-spacing: 1pt;
	font-size: 2.4rem!important;
	font-family: 'Medula One', cursive;
	font-weight: 500!important;
	color: #000;
}

.btn-add {
  line-height: 30px;
  width: 71px;
  background: rgb(29,157,116);
}

.btn:hover {
	background-color: transparent!important;
	color: var(--color-dark-500)!important;
}

.btn-dropdown {
	display: none;
}

.text-color-primary {
	color: var(--color-primary);
}


/**********
	Page
***********/
.page {
	min-height: 100vh;
}

.header__box-top .row-top .col-md-3 button:not(:first-child) {
	margin-left: 0.56rem;
}


.list-links {
	gap: 1.2rem;
}

.link-active {
	background: #F8F8F8;	
}

.btn-dark {
	background-color: #262626;
}
.link-dark-active {
	background-color: #262626;	
	color: white;
}

.btn-outline {
	border: 2px solid #262626;
	background-color: transparent;
}
.btn-outline:hover {
	background-color: #262626;
}
.btn-outline:hover a {
	color: white !important;
}

.header__navbar-main ul li a {
	font-family: 'Medula One', cursive;
	font-size: 1.5rem!important;
	letter-spacing: 1pt;
}

.header__navbar-main ul li a,
.header__navbar-categories ul li a {
	color: var(--color-dark-500);
}

.link-active:hover {
	background-color: black!important;
}

.link-active:hover a {
	color: white!important;
}

.link-media-socials i {
	color: #222;
	font-size: 1.25rem!important;
}

.link-media-socials i:hover {
	transition: 0.67 linear;
	transform: scale(1.6);
	cursor: pointer;
	color: var(--color-primary);
}