/**********
	Section
Feauteres
***********/

.custom-cards {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	margin-top: 6rem;
	margin-bottom: 6rem;
	flex: 1;
}

.custom-cards .wrapper {
	display: flex;
	flex-flow: row nowrap;
	gap: 1.2rem;
}

.custom-cards .wrapper .row {
	flex-basis: 100%;
}


@media screen and (max-width: 830px) {
	.custom-cards .wrapper {
		flex-wrap: wrap;
	}
}

.custom-cards .section-header .heading {
	font-size: 1.6rem!important;
}

.card-container {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height:200px;
}

.card-overlay {
	display: none!important;
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 0;
}

.card-container:hover .card-overlay {
	display: block!important;
	transition: 0.45s linear;
	cursor: pointer;
}

.card-overlay h3 {
	font-size: 1rem!important;
}

.card-overlay h3,
.card-overlay ul li small {
	color: #fcfcfc;
}
