/**********
	Categorias
***********/

.categorie-list {
  display: flex;
  flex-direction: column;
}

.categorie-box .header {
  width: 100%;
  padding: 2rem 0;
}

.box-search {
  padding: 0!important; 

  a {
    background: $clr-white;
    color: $clr-dark;
    border-color: $clr-dark;

    &:hover {
      background: $clr-dark!important; 
      color: $clr-whte!important;
    }

    i {
      line-height: 1.5rem;
    }
  }
}

.input-search {
  width: 94%;
  border: 1px solid $clr-dark;
  margin: 0.45rem;
}

.list-links.categorie-list {
  gap: 0rem!important;
}

.categorie-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    font-size: 1.2rem!important;
    font-weight: 600;
    letter-spacing: 1pt;
  }
}

.btn-actions {
  .btn-edit .fa-pencil-square {
    font-size: 2.2rem!important;
  }

  .btn-remove:hover {
    background: #dc3545!important;
    color: $clr-white!important;
  }
}