/**********
	Section
	Products
***********/

.box-section-products {
	padding: 0rem 1rem;

	.single-section-product {
		margin-bottom: 6rem!important;

		.heading {
			padding-bottom: 2.5rem;
		}

		.boxs {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 2rem;
			align-items: center;
			justify-content: start;
			height: 420px;

			.single-box {
				width: 360px;
				max-width: 340px;
				text-align: center;
				box-shadow: 1px 1px 1px 1px #C5C5C5;
				border-top-right-radius: 24px;
				border-bottom-right-radius: 12px;
				border-bottom-left-radius: 12px;

				.info-product {
					display: flex;
					flex-direction: column;
					gap: 0.89rem;
					background: $clr-dark;
					padding: 1.6rem 0;
					height: 100%;
					border-top-right-radius: 24px;

					.name {
						font-size: 1.3rem!important;
						font-weight: 600;
						color: red;
						padding: 0 0.75rem;
					}

					.img {
						width: 90%;
						height: 200px;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						margin: 0 auto;
					}
					
					.price {
						font-size: 1.5rem!important;
						color: white;
						text-decoration: underline;
						text-decoration-color: red;
					}
					
					.unid, 
					.short-desc {
						color: #eee;
						font-weight: 400;
						
						span {
							font-weight: 300;	
						}
					}
					
					.short-desc {
						text-align: left;
						height: 210px;
						padding: 0rem 1.7rem;
						overflow: hidden;
					}
					
					.product-btns {
						display: flex;
						align-items: center;
					
						.btn {
							text-align: center;
							border-radius: 2px;
							color: $clr-white;
							border-top: 2px solid $clr-dark;
							border-left: 2px solid $clr-dark;
							border-bottom: 2px solid $clr-dark;
							border-right: 2px solid $clr-dark;
							border-radius: 0;

							&:hover {
								background-color: transparent!important;
								color: $clr-dark!important;
							}
						}
					}					
				}				
			}			
		}
	}
}

